<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      <img src="../../assets/logo-horizontal.svg" alt="logo urban forest">
    </ion-title>
    <ion-button slot="end">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <app-page-heading title="feed"></app-page-heading>

    <ul>
      <li *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
      </li>
    </ul>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/new-post']">
    <ion-fab-button>
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
