<div class="container" [routerLink]="['/full-post']" (click)="clickedOnPost()"  style="background-image: url('../../../assets/picture-filter.png'), url('{{post.media}}');">
  <div class="heading">
    <div class="left">
    <h2> {{post.title}} </h2>
    <div class="tags" style="display: none;">
      <div class="tag">Suculentas</div>
      <div class="tag">Casa</div>
    </div>
  </div>
  <div class="right">
    <ion-button>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
  </div>
  <div class="post-author-info">
    <div class="profile-picture" style="background-image: url({{post.user_media}});"></div>
    <span>
      {{post.user_name}}
    </span>
    
  </div>
</div>
